<section class="movie-tickets-form">
  <div class="title">
    <h1 class="title">Pré-venda de Ingressos</h1>
  </div>
  <div class="content-form">
    <div class="personal-data">
      <span class="header">Dados Pessoais</span>
      <div class="section-inputs">

        <app-buyer-form (changeBuyerFormEvent)="receiveDataFromBuyerForm($event)"></app-buyer-form>

        <div class="dados-entrega">
          Dados da Entrega
        </div>

        <br>

        <app-address-form (changeAddressFormEvent)="receiveDataFromAddressForm($event)"></app-address-form>

        <br>
        <div class="movie-info">

          <span>Pré-vendas disponíveis:</span>
  
          <br>
  
          <form [formGroup]="movieForm">
            <mat-form-field appearance="fill">
              <mat-label>Escolha um filme</mat-label>
              <mat-select formControlName="info" matInput="" [disabled]="loadingMovieList">
                <mat-option *ngFor="let movie of movieList" [value]="movie"> {{ movie.title }} </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <div class="movie-release" *ngIf="showMovieRelease">
          Lançamento do filme: {{ converteData(movieReleaseDate) }}
        </div>

      </div>
    </div>

    <div class="your-tickets">
      <div class="header">Seu Ingresso</div>
      <div class="section-inputs">

        <div class="movie-section">
          <div class="item-grid">
            <img [src]="imageToShow" *ngIf="!loadingMoviePoster" class="movie-poster">
          </div>
          <div class="item-grid">
            <div class="selected-movie" *ngIf="!loadingMoviePoster">
              Ingresso
            </div>
            <div class="selected-movie name" *ngIf="!loadingMoviePoster">
              FILME: {{ selectedMovieTitle }}
            </div>
            <div class="ticket-price">
              <span>Preço:</span>
              <span>R$ {{ ticketPrice | number : '.2-2'}}</span>            
            </div>
          </div>
        </div>

        <div class="line"></div>

        <div class="footnote-text">
          <span>Total dos ingressos</span>
          <span>R$ {{ ticketPrice | number : '.2-2'}}</span>
        </div>
        <div class="footnote-text"
          [style.opacity]="shippingDisabled ? 0.6 : 1">
          <span>Frete</span>
          <span>R$ {{ shippingPrice | number : '.2-2'}}</span>
        </div>
        <div class="footnote-text total-price">
          <span>TOTAL</span>
          <span class="price">R$ {{ totalPrice | number : '.2-2'}}</span>
        </div>

        <br>
        <br>
        
        <div class="submit-button">
          <mat-card-actions>
            <button (click)="onSubmit()" [disabled]="!isFormValid" mat-raised-button color="primary">Comprar</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </div>
</section>