<form [formGroup]="addressForm">
    <div class="two-column">
      <div class="item-column">
        <mat-form-field>
          <input formControlName="cep" matInput="" placeholder="CEP" (keyup.enter)="searchAddressByCep()">
        </mat-form-field>
      </div>
      <div class="item-column">
        <mat-form-field>
          <input formControlName="uf" matInput="" placeholder="Estado" (keyup.enter)="searchAddressByCep()">
        </mat-form-field>
      </div>
    </div>

    <div class="two-column">
      <div class="item-column">
        <mat-form-field>
          <input formControlName="localidade" matInput="" placeholder="Cidade">
        </mat-form-field>
      </div>
      <div class="item-column">
        <mat-form-field>
          <input formControlName="bairro" matInput="" placeholder="Bairro">
        </mat-form-field>
      </div>

    </div>

    <div class="one-column">
      <mat-form-field>
        <input formControlName="logradouro" matInput="" placeholder="Endereco">
      </mat-form-field>
    </div>

    <div class="two-column">
      <div class="item-column">
        <mat-form-field>
          <input formControlName="numero" matInput="" placeholder="Número">
        </mat-form-field>
      </div>

      <div class="item-column">
        <mat-form-field>
          <input formControlName="complemento" matInput="" placeholder="Complemento">
        </mat-form-field>
      </div>

      <h1 (click)="f()">teste</h1>

    </div>
  </form>